/* Preset style */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

h1, h3, h4, h5, p {
    margin-bottom: 10px;
}

.btn {
    border-radius: 10px;
    display: inline-block;
    margin: 0;
    text-align: center;
}

.btn-alt {
    border: 1px solid #dfe2e5;
    padding: 10px 30px;
    text-align: center;
}

.about {
    /*padding: 20px 10px 40px 10px; */
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#me_backpack {
    float: right;
    height: 20%;
    width: 20%;
}

.inner_div {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    padding-left: 2px;
    padding-right: 2px;
}

header {
    border-style: dotted;
    border-color: black;
    background: #F66A6A;
    padding-top: 5px;
}

.header-text, .header-links {
    text-align: right;
}

#logo {
    float: left;
    height: 9%;
    width: 9%;
    padding-bottom: 2px;
}

#nav-footer {
    position: center;
}

/*
  ========================================
  Clearfix:  Containing flaot within parent. Clearning everythign before and after
    so that flow of page isn't affected
  ========================================
*/

.reference:before,
.reference:after, {
    content: "";
    display: table;
}

.reference:after {
    clear: both;
}

.reference {
    display: inline-block;
    clear: both;
    *zoom: 1;
    background: #eaeaed;
}

footer {
    padding-top: 3px;
    position: fixed;
    bottom: 0;
    background-color: rgba(232, 131, 131, 0.4);
    color: black;
    /*clear: both;*/ /*used to clear floats --> always use AFTER */
                /*   float is used on other objects */
}

/*
  ========================================
  Custom styles
  ========================================
*/

* {
    background-color: rgba(0,0,0,0.1);
}

html {
    color: black;
}

body {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.special {
    font-style: italic;
}

.small_cap {
    font-variant: small-caps;
}

#about-mii {
    font-weight: bold;
    font-size: 20px;
    color: #255DF9;
}

a:hover {
    color: #25F94F;
}

a {
    color: blue;
}

.header-links {
    font-family: Helvetica;
    font-size: 20px;
}

#about-mii {
    font-style: underline;
}